.friendsList {
	color: white;
}

.selectedPage {
	font-weight: bold;  
}

.pagination span {
	cursor: pointer;
}

.pagination {
	max-width: 100%;
	overflow-x: hidden;
}

.userContainer {
		max-width: 100%;
		overflow-x: hidden;
}